<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License (MIT)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.opensource.org/licenses/mit-license.php
 *
 * @package   Menticore_Stomp
 * @author    Menticore
 * @copyright 2012 Menticore
 * @license   http://www.opensource.org/licenses/mit-license.php MIT License (MIT)
 * @link      https://github.com/menticore/stomp
 */
-->
<config>
    <modules>
        <Menticore_Stomp>
            <version>0.0.1</version>
        </Menticore_Stomp>
    </modules>
    <global>
        <models>
            <stomp>
                <class>Menticore_Stomp_Model</class>
            </stomp>
        </models>
        <blocks>
            <stomp>
                <class>Menticore_Stomp_Block</class>
            </stomp>
        </blocks>
        <helpers>
            <stomp>
                <class>Menticore_Stomp_Helper</class>
            </stomp>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Menticore_Stomp>
                    <files>
                        <default>Menticore_Stomp.csv</default>
                    </files>
                </Menticore_Stomp>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <stomp>
                <use>standard</use>
                <args>
                    <module>Menticore_Stomp</module>
                    <frontName>stomp</frontName>
                </args>
            </stomp>
        </routers>
    </frontend>
</config>
